*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(175, 175, 209);
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
#nav a{
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.nav1{
    display: flex;
    align-items: center;
    gap:20px;
}
.heading{
    text-align: center;
    font-size: 250px;
    margin-top: 2%;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}